**node_modules
*.log
.vscode/settings.json
avn-api/.eslintrc.json
.terraform/
.terraform.lock.hcl
*.zip
*.tgz
_infra/ansible/files/*
_infra/ansible/*inventory*
Chart.lock
.serverless/
build/

# Config file for AWS MQ
avn-connector/src/config/default/mq.yaml
tests/demo/demo-accounts.json
tests/demo/demo-accounts-testnet.json

avn-api/config/accounts_withcba.json
